[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = git@github.com:sebhahn/oh-my-zsh.git
[submodule "z"]
	path = z
	url = https://github.com/rupa/z
[submodule ".pyenv"]
	path = .pyenv
	url = git@github.com:sebhahn/pyenv.git
[submodule "ranger"]
	path = ranger
	url = git@github.com:ranger/ranger.git
