[submodule ".spacemacs.d.symlink/org-reveal"]
	path = .spacemacs.d.symlink/org-reveal
	url = https://github.com/yjwen/org-reveal.git
[submodule "z"]
	path = z
	url = https://github.com/rupa/z
[submodule ".pyenv"]
	path = .pyenv
	url = git@github.com:sebhahn/pyenv.git
[submodule "ranger"]
	path = modules/ranger
	url = git@github.com:ranger/ranger.git
[submodule "ohmyzsh"]
	path = .ohmyzsh
	url = git@github.com:sebhahn/ohmyzsh.git
[submodule ".config/ranger/plugins/devicons"]
	path = .config/ranger/plugins/devicons
	url = https://github.com/alexanderjeurissen/ranger_devicons
[submodule ".spacemacs.d.symlink/material-theme"]
	path = .spacemacs.d.symlink/material-theme
	url = git@github.com:sebhahn/emacs-material-theme.git
[submodule ".spacemacs.d.symlink/atom-one-dark-theme"]
	path = .spacemacs.d.symlink/atom-one-dark-theme
	url = git@github.com:sebhahn/atom-one-dark-theme.git
