/*
*~
!gitproxy
!python/
!pandoc/
!.spacemacs-config/
!.zshrc.symlink
!.zshenv.symlink
!.oh-my-zsh/
!.tmux.conf.symlink
!dev-tmux
!latex_gitconfig.symlink
!.spacemacs.symlink
!INSTALL
!z
!.pyenv
!.Xdefaults.symlink
!terminal-theme.sh
!.local
!.latexmkrc.symlink
